html {
  background-image: url("images/bg-pattern-desktop.svg");
  width: 60%;
}

/* The following is styling for everything on the left side 
on the page before the email form box */
h1 {
  color: hsl(0, 36%, 70%);
  font-family: "Josefin Sans", sans-serif;
  font-size: 70px;
  font-weight: 300;
  letter-spacing: 20px;
  padding-left: 200px;
  margin-bottom: 20px;
}

span {
  font-weight: 600;
  color: hsl(0, 6%, 24%);
}

.logo {
  padding: 50px 0 70px 220px;
}

.paragraph-one {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  color: hsl(0, 36%, 70%);
  padding-left: 220px;
  line-height: 1.8;
}

/* Styling for the email form box starts here */
form {
  padding-left: 200px;
}

/* This is for stlying the content inside the form box */
.emailBox {
  border: solid hsl(0, 36%, 70%) 1px;
  border-radius: 40px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  padding: 20px 60px 20px 10px;
  margin-top: 25px;
  width: 46%;
}

::placeholder {
  color: hsl(0, 36%, 70%);
  padding-left: 10px;
  opacity: 0.5;
}

#error-icon {
  position: absolute;
  bottom: 330px;
  left: 458px;
  visibility: hidden;
}

.submit-button {
  padding: 15px 45px 18px;
  background: linear-gradient(
    135deg,
    rgba(248, 191, 191, 1) 35%,
    rgba(238, 140, 140, 1) 100%
  );
  border: solid hsl(0, 36%, 70%) 1px;
  border-radius: 40px;
  position: relative;
  right: 95px;
  top: 3px;
  transition: all 150ms ease-in-out;
}

.submit-button:hover {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 245, 245, 1) 30%
  );
  cursor: pointer;
}

/* The error message that will show up when the user doesn't enter a valid email */
.error-message {
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.8rem;
  color: hsl(0, 93%, 68%);
  margin-left: 220px;
  visibility: hidden;
}
/* Styling for the email form box ends here */

.main-image {
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
}

/* Styles below are for the footer content */

.attribution {
  color: hsl(0, 6%, 24%);
  font-family: "Josefin Sans", sans-serif;
  padding-left: 250px;
  padding-top: 200px;
  text-align: left;
}

.frontend-link {
  color: hsl(0, 36%, 70%);
  text-decoration: none;
}

.frontend-link:hover {
  color: hsl(0, 74%, 74%);
}

/* Portrait Cell Mode */

/* @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: Portrait) {
} */
